<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
	<title>EverCluster - Home</title>
	<link rel="stylesheet" href="./static/styles/styles.css">
	
	<!-- Latest minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Bootstrap Packaged JS (Bundle) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
	<div class="sidenav">
        <img src="./static/images/LOGO_INVERTED_WHITE.png" alt="LOGO" class="center" style="width:90%;"> 
        <br>
        <div class="username border-bottom text-white"><img src="./static/images/user.png" alt="user image" width="30" height="30" align="left">&nbsp;&nbsp;{{user}}<br></div>
        {% if master_online == True %}
            <div class="username border-bottom"> Master: <span class="text-success">Online</span></div>
        {% else %}
            <div class="username border-bottom"> Master: <span class="text-danger">Offline</span></div>
        {% endif %}
        <div class="username border-bottom"> Workers: <span class="text-white">{{ worker_amount }}</span></div><br><br>

        <div class="username border-bottom text-white"> Navigation Menu</div>
        <a href="./upload" class="border-bottom border-top">Upload Data</a>
        <a href="./clustering" class="border-bottom">Clustering</a>
        <a href="./clustering_results" class="border-bottom">Results</a>
        <a href="./logout" class="border-bottom">Log out</a>
    </div>
      
    <div class="main">
        <!-- Always on top -->
        <div class="jumbotron jumbotron-fluid" style="background-color: lightgray;">
            <div class="container">
              <h1 class="display-4">
                <strong>Welcome to EverCluster</strong>
              </h1>
              <p class="lead">Use the side menu to navigate.</p>
            </div>
        </div>
        <br>
        <img src="./static/images/LOGO.png" alt="LOGO" class="center" style="width:40%;"> 
    </div>
</body>
</html>